@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Space+Mono:wght@400;700&family=Montserrat&family=Tourney&display=swap');

/* Body */

/* add :root{} - see css variables vid */
/* center text in watch section */
/* make .two-col cols less wide? Is that a thing? */

html {
    scroll-padding-top: 5.8rem;
    scroll-behavior: smooth;
    font-size: .6rem;
    width: 100%;
}

body {
    font-family: 'Montserrat', 'PT Sans', 'Gill Sans';
    font-weight: 400;
    position: relative;
    font-size: 1.75rem;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2b2d34;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(239, 131, 84, 1);
}

/* Block dividers */

.hr-main {
    border: 1px solid #EF8354;
    width: 100%;
    margin: 2rem 0;
}

.hr-short {
    border: 2px solid #EF8354;
    width: 3%;
    align-items: center;
    margin-bottom: 3rem;
}

/* Containers */

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.container-fluid {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.two-column {
    flex: 1;
    text-align: center;
    background-color: #555C67;
    padding: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    position: relative;
    border-radius: 10%;
}

.two-column h3 {
    font-size: 2.5rem;
    color: #FFFFFE;
    text-align: center;
}

.trailer-container {
    background-color: #2B2D34;
    padding-bottom: 4rem;
}

.watch-container {
    background: #2D3142;
}

.news-container {
    background-color: #555C67;
    margin: 0;
    padding: 0;
}

.footer-container {
    background-color: #1f2125;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: auto;
    padding: 0;
    font-size: 1.25rem;
    color: #000;

    justify-content: space-around;
    align-content: center;
}

.footer-logo-container {
    text-align: center;
    margin: 1.5rem;
}

.footer-logo-container li,
a {
    display: inline;
    color: #495057;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-logo-container a:hover {
    color: #000;
}

/* Buttons */

.btn-trailer {
    color: #FFFFFE;
    background-color: #f0500c;
    height: 50px;
    width: 200px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid #f0500c;
    padding-top: 1rem;
}

.btn-trailer:hover,
.btn-trailer:active,
.btn-trailer:focus,
.btn-trailer:active:focus {
    background-color: #EF8354;
    border-color: #FFFFFE;
    color: #FFFFFE;
}

.btn-form {
    color: #FFFFFE;
    background-color: #EF8354;
    height: 40px;
    width: 100px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #FFFFFE;
    margin-top: 2rem;
}

.btn-form:hover,
.btn-form:active,
.btn-form:focus,
.btn-form:active:focus {
    background-color: #f0500c;
    border-color: #f0500c;
    color: #FFFFFE;
}

/* Icons and logos */

.two-column i {
    color: #FFFFFE;
    font-size: 3rem;
    margin: 1%;
    padding: 3%;
}

.two-column i:hover {
    color: #EF8354;
}

#financier-logos {
    width: 30%;
    height: auto;
}

/* Nav bar */

.navbar {
    text-align: center;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    height: 6rem;
    z-index: 1;
    background-color: #1f2125;
    position: fixed;
}

.navbar-dark .navbar-toggler {
    border: none;
    padding: 1.5rem;
    margin: 0.5rem;
}

#navbarNavDropdown li a {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFE;
    background-color: #1f2125;
}

#navbarNavDropdown li a:hover {
    color: #EF8354;
    text-decoration: underline;
}

/* Hero & jumbotron */

#hero-image {
    height: 90vh;
    width: 100%;

    background: url(../images/hero/hero.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    position: relative;
    flex-wrap: wrap;
}

.jumbotron {
    background-color: transparent;
    padding-top: 10rem;
    padding-right: 3rem;
    text-align: right;
    margin: 3rem;
    color: #fafafa;
}

.jumbotron-header {
    color: #f0f0f0;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Space Mono', 'Gill Sans';
    font-size: 10rem;
    text-shadow: 4px 4px #EF8354;
}

.jumbotron h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #fffffe;
}

.release {
    font-size: 3.5rem;
    font-weight: 600;
    padding-top: 20px;
}

#hero {
    padding-top: 100px;
}

/* About*/

#about {
    background: #2D3142;
}

.creative-team {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.creative-team a {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Tourney', 'Space Mono', 'Gill Sans';
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem;
    color: #FFFFFE;
    position: relative;
}

#about span {
    font-weight: bold;
}

body {
    color: #bfc0c0;
}

/* Trailer */

#sizzle-reel {
    border-radius: 5%;
    width: 90%;
    height: auto;
}

/* Watch */

#picturehouse-logo {
    border-radius: 10%;
}

.zoom {
    background-color: transparent;
    transition: transform .2s;
    height: auto;
    width: 20rem;
}

.zoom:hover {
    transform: scale(1.1);
}

.zoom-right:hover {
    transform: scale(1.1);
}

/* Form */

#startcol form {
    line-height: 280%;
    text-align: center;
    font-size: 2rem;
}

.form-control {
    display: inline;
    width: 80%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#info-safe {
    font-size: 1.5rem;
    color: #2b2d34;
    text-align: center;
}

.form-group i {
    color: #FFFFFE;
    font-size: 2rem;
}

.form-group i:hover {
    color: #FFFFFE;
}

#info-safe i {
    color: #2b2d34;
    font-size: 1.5rem;
}

/* News */

#endcol-news {
    text-align: center;
}

#endcol-news ul {
    list-style-type: none;
}

#endcol-news h3 {
    text-align: left;
    color: #FFFFFE;
    text-align: center;
}

#endcol-news span {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

/* Gallery */

#gallery {
    background-color: #2b2d34;
    margin: 0;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.gallery {
    width: 100%;
    height: 25rem;
    border-radius: 10%;
    padding: .5rem;  
    object-fit: cover;
    }

/* Media Queries */

@media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }