@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Space+Mono:wght@400;700&family=Montserrat&family=Tourney&display=swap');

/*..................................................................................Body */
/* fix whitespace problem without using overflow */
/* review font family inherits e.g. shouldn't need to state font family each time DRY DRY DRY */
/* add :root{} - see css variables vid */

html {
    scroll-padding-top: 5.8rem;
    font-size: .6rem;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body {
    font-family: 'Montserrat', 'PT Sans', 'Gill Sans';
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 1.75rem;
    /* overflow-x: hidden; */
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2b2d34;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(239, 131, 84, 1);
}

.container {
    display: flex;
}

/*..................................................................................Block dividers */

.hr-main {
    border: 1px solid #EF8354;
    width: 100%;
    margin: 2rem 0;
}

.hr-short {
    border: 2px solid #EF8354;
    width: 3%;
    align-items: center;
    margin-bottom: 3rem;
}

/* ..................................................................................Containers */

.nav-container {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.two-column {
    flex: 1;
    text-align: justify;
    background-color: #555C67;
    padding: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    position: relative;
    border-radius: 10%;
}

.two-column h3 {
    font-size: 2.5rem;
    color: #FFFFFE;
    text-align: center;
    font-family: 'Montserrat', 'PT Sans', 'Gill Sans';
}

.about-container {
    
}

.trailer-container {
    background-color: #2B2D34;
    padding-bottom: 4rem;
}

.watch-container {
    background: #2D3142;
}

.news-container {
    background-color: #555C67;
}

.footer-container {
    background-color: #2b2d34;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #2b2d34;
    height: 100%;
    width: auto;
    padding: 0;
    font-size: 1.25rem;
    color: #000;

    justify-content: center;
    align-content: center;
}

.footer-logo-container {
    text-align: center;
    margin: 1.5rem;
}

.footer-logo-container li,
a {
    display: inline;
    color: #000;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-logo-container a:hover {
    color: #000;
}

/* .gallery-container {
    height: fit-content;
} */

/* ..................................................................................Buttons */

/* invert trailer btn colors */

.btn-trailer {
    color: #FFFFFE;
    background-color: #f0500c;
    height: 50px;
    width: 200px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid #f0500c;
    padding-top: 1rem;
}

.btn-trailer:hover,
.btn-trailer:active,
.btn-trailer:focus,
.btn-trailer:active:focus {
    background-color: #EF8354;
    border-color: #FFFFFE;
    color: #FFFFFE;
}

.btn-form {
    color: #FFFFFE;
    background-color: #EF8354;
    height: 40px;
    width: 100px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #FFFFFE;
    margin-top: 2rem;
    margin-left: 13rem;
}

.btn-form:hover,
.btn-form:active,
.btn-form:focus,
.btn-form:active:focus {
    background-color: #f0500c;
    border-color: #f0500c;
    color: #FFFFFE;
}

/* ..................................................................................Icons and logos */

.two-column i {
    color: #FFFFFE;
    font-size: 3rem;
    margin: 1%;
    padding: 3%;
}

.two-column i:hover {
    color: #EF8354;
}

#financier-logos {
    width: 30%;
    height: auto;
}

/* ..................................................................................Nav bar */

.navbar {
    text-align: center;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    height: 6rem;
    z-index: 1;
    background-color: #2B2D34;
    position: fixed;
}


.navbar-dark .navbar-toggler {
    border: none;
    padding: 1.5rem;
    float: right;
    margin: 0.5rem;
}

.navbar-nav {
    position:sticky;
    position:-webkit-sticky;
}

#navbarNavDropdown li a {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFE;
}

#navbarNavDropdown li a:hover {
    color: #EF8354;
    text-decoration: underline;
}

/* ..................................................................................Hero & jumbotron */

#hero-image {
    height: 90vh;

    background: url(../images/hero/hero.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items:flex-end;
    justify-content:flex-end;

    position: relative;
}

.jumbotron {
    background-color: transparent;
    padding-top: 10rem;
    text-align: right;
    margin: 25px 0;
    color: #fafafa;
}

.jumbotron-header {
    color: #f0f0f0;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Space Mono', 'Gill Sans';
    font-size: 10rem;
    text-shadow: 4px 4px #EF8354;
}

.jumbotron h2 {
    font-family: 'Montserrat', 'PT Sans', 'Gill Sans';
    font-size: 2rem;
    font-weight: 500;
    color: #fffffe;
}

.release {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Montserrat', 'PT Sans', 'Gill Sans';
    padding-top: 20px;
}

#hero {
    padding-top: 100px;
}

/* ..................................................................................About*/

/* use start/end instead of left/right */

#about {
    background: #2D3142;
}

.startcol {
    float: right;
}

#endcol-about {
    line-height: 250%;
    float: left;
}

.header {
    font-family: 'Tourney', 'Space Mono', 'Gill Sans';
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem;
    color: #FFFFFE;
    /* -webkit-text-stroke: .1px #EF8354; */
}

#about span {
    font-weight: bold;
}

body {
    color: #bfc0c0;
}

/* ..................................................................................Trailer */

#sizzle-reel {
    border-radius: 10%;
}

/* ..................................................................................Watch */

#endcol-watch {
    float: left;
}

#picturehouse-logo {
    height: 10rem;
    width: 18rem;
    border-radius: 10%;
    margin-top: 1rem;
}

.watch-logo {
    margin-top: 2rem;
    height: 8rem;
    width: 16rem;
}

#amazon-logo {
    margin-top: 4rem;
    height: 5rem;
    width: 14rem;
}

.zoom {
    background-color: transparent;
    transition: transform .2s;
    height: 12rem;
    width: 20rem;
}

.zoom:hover {
    transform: scale(1.1);
}

.zoom-right {
    background-color: transparent;
    transition: transform .2s;
    height: 8rem;
    width: 20rem;
}

.zoom-right:hover {
    transform: scale(1.1);
}

/* ..................................................................................Form */

#startcol form {
    line-height: 280%;
    text-align: center;
    font-size: 2rem;
}

.form-control {
    display: inline;
    width: 83%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#info-safe {
    font-size: 1.5rem;
    color: #2b2d34;
    text-align: center;
}

.form-group i {
    color: #FFFFFE;
    font-size: 2rem;
}

.form-group i:hover {
    color: #FFFFFE;
}

#info-safe i {
    color: #2b2d34;
    font-size: 1.5rem;
}

/* ..................................................................................News */

#endcol-news {
    line-height: 250%;
    float: left;
    text-align: center;
}

#endcol-news h3 {
    text-align: left;
    color: #FFFFFE;
    text-align: center;
}

#endcol-news span {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

/* ..................................................................................Gallery */

#gallery {
    clear: both;
    line-height: 1rem;
    column-count: 4;
    column-gap: 0;

    background-color: #2D3142;
    page-break-inside: avoid;
}

#gallery img {
    width: 100%;
    /* overflow: hidden; */
    margin: 0;
}

/* ..................................................................................Media Queries */

@media screen and (max-width: 800px) {
    #gallery {
        column-count: 2;
    }
}
